.thirtysix > div {
  margin: 50px auto auto auto;
  height: 100px;
  width: 100px;
  background-color: var(--red);
  transform: translate3d(0px, 0px, -250px);
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;

  &:hover {
    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(50deg)
      scale(0.9, 0.9);
  }
}
