.thirtythree > div {
  height: 100%;

  display: flex;
  flex-flow: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.thirtythree > div > div {
  background-color: var(--red);
  width: 10%;
  height: 10%;
  border-radius: 50%;
  cursor: pointer;
}
