#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  padding: 0;
}
body {
  background-color: var(--bg);
  color: var(--red);
  margin: 0;
  padding: 0;
  align-items: flex-start;
}
