#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  padding: 0;
  /* .ibm-plex-mono-regular { */
  /* font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal; */
  /* } */
}
body {
  background-color: var(--bg);
  color: var(--red);
  margin: 0;
  padding: 0;
  align-items: flex-start;
  /* font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal; */
}
